<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">*</th>
                        <td>{{ user.fname }}</td>
                        <td>{{ user.lname }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>&nbsp;
                            <button class="btn btn-primary" (click)="updateUser(user)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" (click)="newUser()">Add user</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>